MessClientAPI/Service References/MessServiceApi/MessagingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4594/MessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyService1" />
  <xs:import schemaLocation="http://localhost:4594/MessagingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="User_RegisterNewContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_RegisterNewContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_RegisterNewContactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_ValidateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact_GetMyContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact_GetMyContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyService1" minOccurs="0" name="Contact_GetMyContactsResult" nillable="true" type="q1:ArrayOfImUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact_GetAllContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact_GetAllContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyService1" minOccurs="0" name="Contact_GetAllContactsResult" nillable="true" type="q2:ArrayOfImUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_GetMyMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_GetMyMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyService1" minOccurs="0" name="Message_GetMyMessagesResult" nillable="true" type="q3:ArrayOfImMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_GetMyNewMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_GetMyNewMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyService1" minOccurs="0" name="Message_GetMyNewMessagesResult" nillable="true" type="q4:ArrayOfImMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_InsertMessageForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usr" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg_body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg_type" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dest_user" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message_InsertMessageForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message_InsertMessageForUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>